---
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} | Hermaca Music Bot</title>
    <link rel="icon" type="image/png" href="../favicon.png">
    
    <!-- This loads your theme's CSS automatically -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
  </head>
  <body>
    {% include header.html %}
    
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    
    {% include footer.html %}
  </body>
</html>
